---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <h1>About Me</h1>

    <p>
        Hi, I'm Matthew Austin - a software engineer.
    </p>

    <h2>What I Do</h2>
    <p>
        I'm interested in stuff
    </p>

    <h2>This Blog</h2>
    <p>
        This blog is built with Astro and hosted on Cloudflare pages.
        It's part of an attempt to force myself to actually learn some HTML and CSS, so everything is built by hand.
    </p>

    <h2>Connect</h2>
    <ul>
        <li><a href="https://github.com/">GitHub</a></li>
        <li><a href="mailto:matthew@matthewlaustin.com">Email</a></li>
    </ul>
</BaseLayout>