---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <h1>About Me</h1>

    <p>
        Hi, I'm Matthew Austin.  I'm a software engineer who lives in the Bay Area of California, and this is a collection of ideas, things I was bold enough to assume others would want to read, and my thoughts on a variety of topics that interest me.
    </p>

    <h2>What I Do</h2>
    <p>
        Professionally, I'm a software engineer at <a href="https://www.aescape.com/">aescape</a>, where I work on a variety of things, but primarily the systems to deploy and operate our robots at scale. 
        I'm also a builder of things, DIY-er, amateur mechanic, obcessive reader, and middling cook.  I love any interesting or novel problem, or anything I can take apart to figure out how it works inside.
    </p>

    <h2>This Blog</h2>
    <p>
        This blog is built out of a dual desire to have a place to capture my thoughts and ideas, and to force myself to learn unfamilar technologies.
        This blog is built with Astro, with all the layout and styling written by hand so I could learn HTML and CSS better.
        You can see all of the source code <a href="https://github.com/mlaustin44/new-blog">on my github</a>.
        The blog posts are written in <a href="https://mdxjs.com/">mdx</a>, a superset of markdown which allows you to include JSX, and hosted on Cloudflare pages.
        Because there's almost no client-side JS, and the pages are server-side rendered in a Cloudflare worker, it manages to score a 100 on lighthouse.
        The only front end development I've done before this has been in React or NextJS, so this was a fun chance to learn the basics I probably should have known before starting with React!
    </p>

    <h2>Connect</h2>
    <ul>
        <li><a href="https://github.com/">GitHub</a></li>
        <li><a href="mailto:matthew@matthewlaustin.com">Email</a></li>
    </ul>
</BaseLayout>